REACT_APP_APIKEY=<value-goes-here>
REACT_APP_AUTHDOMAIN=<value-goes-here>
REACT_APP_PROJECTID=<value-goes-here>
REACT_APP_STORAGEBUCKET=<value-goes-here>
REACT_APP_MESSAGINGSENDERID=<value-goes-here>
REACT_APP_APPID=<value-goes-here>
REACT_APP_MESASUREMENTID=<value-goes-here>